@import url('https://fonts.googleapis.com/css2?family=Alata&family=Kufam:ital,wght@0,400..900;1,400..900&family=REM:ital,wght@0,100..900;1,100..900&display=swap');


  .domain-title {
    font-size: 3.5rem;
    font-family: "Kufam", sans-serif;
    font-weight: 600;
    color: #b1cd9d;
    text-align: center;
  }

  .alata-regular {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
.rem{
    font-family: "REM", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }