.tuyaux-wrapper{
  height: 100%;
}
.tuyaux {
  width: 100%;
  position: absolute;
  bottom: -9vh;
  z-index: 60;
  pointer-events: none;
}

/* Responsive */
@media (max-height: 800px) {
  .tuyaux {
    bottom: -3.5vh;
  }
}